.menu_block_head{
  display: flex;
  justify-content: center;
}
.menu_block{
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 90px;
  border-bottom: solid black;
  align-items: center;
  
}

.menu_links{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #828282;
  transition: all 3s;

}

.menu_links:hover{
  color: black;

}

.content_block{
  width: 940px;
  height: 180px;
  display: flex;
  justify-content: space-between;
}
 
.content_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_text1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.denis{
height: 10px;
font-size: 48px;
color: #070707;
}

.content_text2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.designer{
height: 10px;
font-size: 18px;
color: #070707;
font-weight: 500;
}
.content_text {
  display: flex;
}
.rotate{
  transform: rotate(-90deg);
}
  .ru{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #828282;
 
  }

  .ru:hover{
    color: black;
  }

  .content_img{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    height: 387px;
  }

  .menu_block_head3{
    display: flex;
    width: 100%;
    background-color: #F6F6F6;
    height: 506px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 104px;
  }

.aboutme{
  font-weight: bold;
  font-size: 34px;
}

.menu_block_head4{
  display: flex;
  width: 100%;
  background-color: white;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.skills{
font-weight: bold;
font-size: 34px;
}
.menu_block_head5
{
  display: flex;
  width: 100%;
  background-color:  #F6F6F6;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.portfolio{
  font-weight: bold;
  font-size: 34px;
  margin-top: 112px;
}

.content_img2{
  margin-top: 48px;
  display: flex;
  justify-content: center;
  width: 936.24px;
  height: 510px;
}

.fashion_storage_hp{
  color: black;
  font-size: 18px;
}
.margig-top48{
  margin-top: 48px;
  margin-bottom: 48px;
}
.content_img3{
  margin-top: 48px;
  display: flex;
  justify-content: center;
  width: 936.24px;
  height: 510px;
}

.rs_concept{
  margin-top: 45px;
  color: black;
  font-size: 18px;
}

.content_img4{
  margin-top: 48px;
  display: flex;
  justify-content: center;
  width: 936.24px;
  height: 510px;
}

.blp_concept{
  margin-top: 45px;
  color: black;
  font-size: 18px;
}

.menu_block_head6{
  display: flex;
  width: 100%;
  background-color: white;
  height: 506px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  
}

.contacts{
  font-size: 34px;
}

.text_welcome{
  font-weight: 100;
}

.socialMedia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 263px;
  margin-top: 48px;
}
.text_lmon{
  color: #828282;
  font-size: 14px;
  margin-top: 48px;
}