.menu_block_head {
 justify-content: center;
  display: flex;
}
.menu_block {
  display:flex;
  justify-content:space-between;
  height: 90px;
  width: 940px;
  align-items: center;
  border-bottom: solid #828282;;

}
.menu_links{
color: black;
text-decoration: none;
font-weight: bold;
}
